*{
   overflow-x: hidden;
}
.content{
   width: 60vw;
   margin: auto;
   margin-top: 30px;
}
h1{
   font-size: 50px;
   font-weight: 300;
   text-align: center;
   padding-top: 23vh;
   background: linear-gradient(to right, #4A00E0, #8E2DE2);
   color: white;
   margin-bottom: 5vh;
   padding-bottom: 3vh;
}
p{
   font-size: 20px;
   padding: 5px 0;
}
.about{
   margin-top :  2vw;
   margin-bottom: 5vw;
}
.profile{
   background: url('./../imgs/about_bg.jpeg');
   height: 40vw;
   width: 100%;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
footer{
   bottom: 0;
}

@media (max-width:1024px) {
   .content{
      width: 70vw;
  }
  .profile{
     height: 50vw;
 }
}


@media (max-width:425px) {
   nav ul li{
      font-size: 12px;
      padding: 0 10px;
   }
   nav ul{
      width: 100%;
      float: none;
      display: flex;
      justify-content: center;
   }
   .about{
      margin-top: 5vw;
   }
   h1{
      font-size: 40px;
   }
}

@media (max-width:1024px) {
   p{
      font-size: 16px;
   }
}
@media (max-width: 375px) {
   nav ul li{
      font-size: 12px;
      padding: 0 5px;
   }
}

@media (max-width: 320px) {
   nav ul li{
      padding: 0 5px;
      font-size: 10px;
   }
}
