*{
   margin: 0;
   padding: 0;
   -webkit-font-smoothing: antialiased;
}

body{
   font-family: 'roboto';
}
nav {
   background: red;
   color: white;
   height: 50px;
   position: fixed;
   z-index: 300;
   width: 100vw;
}
nav ul{
   list-style: none;
   line-height: 50px;
   float: right;
   margin-right: 20px;
}
nav ul li{
   font-size: 14px;
   display: inline-block;
   padding: 0 13px;
   transition: all .4s;
}
nav ul li:hover{
   cursor: pointer;
}
.section-1{
   text-align: center;
   margin: auto;
   background: blue;
}
.section-1 img{
   height: 200px;
   border-radius:100%;
   margin-top: 15vh;
}
.resume{
   height: 40px;
   width: 100px;
   background: #ffffff;
   border: 1px solid #000;
   color: black;
   text-align: center;
   line-height: 40px;
   border-radius: 5px;
   position: relative;
   box-shadow: none;
   margin: 20px auto;
   z-index: -1;
   transition: all .2s;
}
.resume::before{
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   content: " ";
   z-index: 10;
   background: red;
   transform-origin: 0 50%;
   transform: scaleX(0);
   transition: transform .3s ease-out;
}
.resume:hover{
   cursor: pointer;
}
.resume:hover:before{
   transform: scaleX(1);
}
.section-1 h1{
   font-weight: 300;
   margin-top: 20px;
   font-size: 40px;
}
.section-1 h1 span{
   font-weight: 400;
}
.section-1 h2 {
    font-size: 25px;
    font-weight: 200;
    padding-top: 5px;
}
.section-1 p{
    width: 50vw;
    font-size: 16px;
    margin:auto;
    margin-top: 40px;
    font-weight: 300;
    padding-bottom: 30px;
}
.section-1 .social-media{

   padding-bottom: 50px;
}
.social-media i{
   font-size:25px;
   margin: 0px 10px;
   background: #ffffff;
   width: 40px;
   height: 40px;
   line-height: 40px;
   border-radius:100%;
   transition :all .4s;
   text-align: center;
}
.social-media i:hover{
   cursor: pointer;
   transform: scale(1.1);
   box-shadow: 0 0 1px 7px red; /* rgba(210,0,104,.15) */
}
.section-3{
   width: 80vw;
   margin: auto;
   padding : 50px;
   //background: orange;
}
.section-3 h2{
   /* font-size: 15px;
   font-weight: 300;
   color: grey; */
   font-size: 50px;
   text-align: center;
   margin-bottom: 20px;
}
.work {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows:20% auto;
   margin: 40px 0;
}
.work h3{
   font-size: 30px;
   grid-row: 1/2;
   grid-column: 1/5;
}
.work h3 span{
   font-size: 15px;
   color: grey;
   font-weight: 300;
   padding-left: 10px;
   font-style: italic;
}
.work p{
   grid-row: 2/3;
   grid-column: 2/5;
}
.work img{
   height: 250px;
   border-radius: 10px;
   grid-row: 2/3;

}




footer{
   background: pink;
}
footer h4{
   font-weight: 300;
   font-size: 25px;
   padding: 10px 50px;
   padding-top: 30px;
}
footer h4 a{
   color: red;
   text-decoration: none;
   transition:all .3s;
}
footer h4 a:hover{
   text-decoration: underline;
}
footer .social-media{
   font-size: 14px;
   margin-left: 40px;
   padding: 30px 0 100px 0;
}
footer h5{
   width: 100vw;
   font-weight: 300;
   background: black;
   height: 30px;
   line-height: 30px;
   font-size: 15px;
   color: white;
   text-align: center;
}
footer h5 a{
   color: pink;
}
