*{
   margin: 0;
   padding: 0;
   -webkit-font-smoothing: antialiased;
}

body{
   font-family: 'roboto';
}
nav {
   background: red;
   color: white;
   height: 50px;
   position: fixed;
   z-index: 300;
   width: 100vw;
}
nav ul{
   list-style: none;
   line-height: 50px;
   float: right;
   margin-right: 20px;
}
nav ul li{
   font-size: 14px;
   display: inline-block;
   padding: 0 13px;
   transition: all .4s;
}
nav ul li:hover{
   cursor: pointer;
}
.section-1{
   text-align: center;
   margin: auto;
   background: blue;
}
.section-1 img{
   height: 200px;
   border-radius:100%;
   margin-top: 15vh;
}
.resume{
   height: 40px;
   width: 100px;
   background: #ffffff;
   border: 1px solid #000;
   color: black;
   text-align: center;
   line-height: 40px;
   border-radius: 5px;
   position: relative;
   box-shadow: none;
   margin: 20px auto;
   z-index: -1;
   transition: all .2s;
}
.resume::before{
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   content: " ";
   z-index: 10;
   background: red;
   transform-origin: 0 50%;
   transform: scaleX(0);
   transition: transform .3s ease-out;
}
.resume:hover{
   cursor: pointer;
}
.resume:hover:before{
   transform: scaleX(1);
}
.section-1 h1{
   font-weight: 300;
   margin-top: 20px;
   font-size: 40px;
}
.section-1 h1 span{
   font-weight: 400;
}
.section-1 h2 {
    font-size: 25px;
    font-weight: 200;
    padding-top: 5px;
}
.section-1 p{
    width: 50vw;
    font-size: 16px;
    margin:auto;
    margin-top: 40px;
    font-weight: 300;
    padding-bottom: 30px;
}
.section-1 .social-media{

   padding-bottom: 50px;
}
.social-media i{
   font-size:25px;
   margin: 0px 10px;
   background: #ffffff;
   width: 40px;
   height: 40px;
   line-height: 40px;
   border-radius:100%;
   transition :all .4s;
}
.social-media i:hover{
   cursor: pointer;
   box-shadow: 0 0 1px 7px red; /* rgba(210,0,104,.15) */
}
h2{
   padding-top: 30px;
   margin-left: 20px;
   margin-bottom: 20px;
   font-size: 32px;
}
