.wrapper{
   width: 60vw;
   margin: auto;
}
h1{
   font-size: 50px;
   font-family: 'IBM Plex Serif';
   font-weight: 600;
   padding-top: 20vh;
   padding-bottom: 5vh;
}
img{
   position: relative;
   width: 50vw;
   margin: auto;
}
