.content{
   width: 70vw;
   margin: auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 50px;
}

h1{
   font-size: 50px;
   font-weight: 300;
   text-align: center;
   padding-top: 23vh;
   background: linear-gradient(to right, #4A00E0, #8E2DE2);
   color: white;
   margin-bottom: 5vh;
   padding-bottom: 5vh;
}
.exp{
   font-size: 45px;
}
h3{
   font-family: 'IBM Plex Serif';
   font-size: 25px;
   padding: 15px 0 10px;
}
.work{
   padding-bottom: 5vh;
}
a{
   text-decoration: none;
   color: #000000;
   overflow: hidden;
   max-height: 50px;
}
img{
   width: 100%;
}
.img-1{
   background: url('./../imgs/one.png');
   width: 100%;
   height: 400px;
   background-size: cover;
}


@media  (max-width: 1024px){
   .img-1 {
      height: 300px;
      }
   .work p{
      font-size: 16px;
   }

   .content{
      column-gap: 30px;
      width: 80vw;
   }
}
@media (max-width:768px){
   .img-1 {
      height: 275px;
   }
   .content{
      column-gap: 20px;
      width: 80vw;
   }
   .exp{
      font-size: 40px;
   }
}
@media (max-width:425px) {
   nav ul li{
      font-size: 12px;
      padding: 0 10px;
   }
   nav ul{
      width: 100%;
      float: none;
      display: flex;
      justify-content: center;

      overflow: hidden;
      max-height: 50px;
   }
   .content{
      display: block;
   }
   .work{
      padding-bottom: 8vh;
   }
   .work .img-1{
      height: 250px;
   }
   footer{
      margin-top: 5vh;
   }
   .exp{
      font-size: 40px;
   }
}
@media (max-width: 375px) {
   nav ul li{
      font-size: 11px;
      padding: 0 5px;
   }
   .exp{
      font-size: 35px;
      padding: 23vh 3vw 5vh;
   }
}

@media (max-width: 320px) {
   nav ul li{
      padding: 0 5px;
      font-size: 10px;
   }
   .work h3{
      font-size: 20px;
   }
   .work p{
      font-size: 18px;
   }
   .work .img-1{
      height: 200px;
   }

   .exp{
      font-size: 30px;
      padding: 23vh 5vw 5vh;
   }
}
